Repository dynawo/dynawo, pull requests merged in 2021-03, with the labels that each got.

#1488 #1486 Put UPu calculation inside the if running loop for BaseGeneratorSimplified
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/BaseClasses.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/GeneratorPV.mo
Labels: Bug, DynaFlow, DynaWaltz, Models library

#1490 #1486 Put UPu calculation inside the if running loop
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/BaseClasses.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/GeneratorPV.mo
Labels: Bug, DynaFlow, DynaWaltz, Models library

#1530 #1529 Add a switchoffsignal and a PGen/QGen calculation to the converter model
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/Converter.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/Converter.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/GridForming/GridForming.mo
Labels: Models library

#1540 #1539 DynaFlow : fix NQ convention in HvdcPQProp model
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/VRRemote.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQProp.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDangling.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDanglingDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPQProp.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPQPropDiagramPQ.mo
Labels: DynaFlow, Models library

#1543 #739 Correct API for python3 use
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/factory.py
Labels: Bug

#1545 #1544 Use a block PI controller instead of text equations for VRRemote model
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/VRRemote.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/VRRemote.mo
  nrt/data/DynaFlow/HvdcPQPropDiagramPQ/HvdcPQPropDiagramPQ.dyd
  util/xsl/1544.1.dyd.xsl
  util/xsl/1544.2.dyd.xsl
Labels: DynaFlow, Models library
