Repository dynawo/dynawo, pull requests merged in 2022-03, with the labels that each got.

#2193 #2191 Have one switchOffSignal/running for each side of an HVDC
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Basics/SwitchOff.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/BaseClasses.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQProp.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDangling.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDangling.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDanglingDiagramPQ.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDanglingDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPQProp/HvdcPQPropDiagramPQ.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhi.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhi.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDangling.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDangling.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDanglingDiagramPQ.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDanglingDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDiagramPQ.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPTanPhi/HvdcPTanPhiDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPV.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPVDangling.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPVDangling.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPVDanglingDiagramPQ.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPVDanglingDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/HvdcPV/HvdcPVDiagramPQ.extvar
  nrt/data/DynaFlow/HvdcPQPropDiagramPQ/HvdcPQPropDiagramPQ.dyd
  nrt/data/DynaFlow/HvdcPowerTransfer/HvdcPowerTransfer.dyd
Labels: Enhancement, Models library, DynaWaltz, DynaFlow

#2192 #1684 Add BUILD_SHARED_LIBS ON to be able to detect boost in some cases.
  dynawo/3rdParty/CMakeLists.txt
  dynawo/3rdParty/libiidm/libiidm.cmake
  dynawo/CMakeLists.txt
Labels: 3rd party

#2210 #2209 fix service manager when a battery is present
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNServiceManagerInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/test/TestServiceManagerInterface.cpp
Labels: Bug, DynaFlow

#2213 #2212 fix XMLUtils import
  util/nrt_diff/defineTestReference.py
Labels: Bug

#2205 #2204 adding deltaUtarget variable in cpp ratio tap changer transform…
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelRatioTapChanger.cpp
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelRatioTapChanger.h
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelTwoWindingsTransformer.cpp
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelTwoWindingsTransformer.h
  dynawo/sources/Models/CPP/ModelNetwork/test/TestTapChanger.cpp
  dynawo/sources/Models/CPP/ModelNetwork/test/TestTwoWindingsTransformer.cpp
  examples/DynaSwing/IEEE14/IEEE14_Fault/reference/outputs/logs/dynawo.log
  examples/DynaSwing/IEEE57/IEEE57_Fault/reference/outputs/logs/dynawo.log
  examples/DynaWaltz/IEEE14/IEEE14_CascadingLineTrippings/reference/outputs/logs/dynawo.log
  examples/DynaWaltz/IEEE14/IEEE14_GeneratorDisconnections/reference/outputs/logs/dynawo.log
  examples/DynaWaltz/IEEE57/IEEE57_GeneratorDisconnection/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_BasicTestCases/IEEE14_DisconnectGroup/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_BasicTestCases/IEEE14_DisconnectLine/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_BasicTestCases/IEEE14_DisconnectLineInit/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_BasicTestCases/IEEE14_LoadVariation/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroParameterSet/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_CurrentLimitAutomaton/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterI/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChangerBlocking/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChangerCpp/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_UnderVoltageAutomaton/reference/outputs/logs/dynawo.log
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/logs/dynawo.log
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_2_DisconnectGroup/reference/outputs/logs/dynawo.log
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_3_DisconnectLine/reference/outputs/logs/dynawo.log
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_3_DisconnectLine/reference/outputsSIM/logs/dynawo.log
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_4_NodeFault/reference/outputs/logs/dynawo.log
Labels: Models library, DynaWaltz, DynaFlow

#2232 #2231 expose if load is fictitious
  dynawo/sources/Modeler/DataInterface/DYNLoadInterface.h
  dynawo/sources/Modeler/DataInterface/IIDM/DYNLoadInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/IIDM/DYNLoadInterfaceIIDM.h
  dynawo/sources/Modeler/DataInterface/IIDM/test/TestIIDMModelsStaticParameters.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNLoadInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNLoadInterfaceIIDM.h
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/test/TestLoadInterface.cpp
Labels: DynaFlow
