Repository dynawo/dynawo, pull requests merged in 2022-07, with the labels that each got.

#2429 #2425 IntegerDoubleStep added
  dynawo/sources/Models/Modelica/Dynawo/Connectors/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Connectors/IntPin.mo
  dynawo/sources/Models/Modelica/Dynawo/Connectors/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Basics/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Basics/IntegerDoubleStep.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Basics/package.order
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeLists.txt
  dynawo/sources/Models/Modelica/PreassembledModels/IntegerDoubleStep.xml
Labels: Models library, DynaSwing

#2438 #2437 Reduce reference size of nrt ENTSO-E PlayBack
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/TableInfiniteBus.txt
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/TestCase3.crv
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/TestCase3.jobs
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/TestCase3.par
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/reference/outputsTestCase3/curves/curves.csv
Labels: DynaSwing

#2440 #2439 terminals connection is not updated when in node breaker
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNBatteryInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNDanglingLineInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNFictTwoWTransformerInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNGeneratorInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNHvdcLineInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNLineInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNLoadInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNShuntCompensatorInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNStaticVarCompensatorInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNTwoWTransformerInterfaceIIDM.cpp
Labels: Bug
