Repository dynawo/dynawo, pull requests merged in 2022-02, with the labels that each got.

#2144 #2103 Remove SecondOrder, Limiter and ApproximatedDelay
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/SecondOrder.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/package.order
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/ApproximatedDelay.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/Limiter.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/package.order
Labels: Models library, DynaSwing

#2158 2156 new boolean delay
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/FixedBooleanDelay.mo
Labels: Models library, DynaSwing

#2166 #2165 FirstOrderWithDelay removed, FirstOrderLimiter -> LimitedFirstO…
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGOV1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/SEXS.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/FirstOrderWithDelay.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/LimitedFirstOrder.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/package.order
Labels: Models library, DynaSwing

#2169 #2168 update patches omc
  dynawo/3rdParty/openmodelica/patch/GNU/openmodelica.patch
  dynawo/3rdParty/openmodelica/patch/common/openmodelica.patch
Labels: Bug

#2177 #2176 Fix SwitchOffSignals for WECC models
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVCurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVVoltageSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVVoltageSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4ACurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4BCurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4BCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Photovoltaics/WECC/PVCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Photovoltaics/WECC/PVVoltageSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WTG4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WTG4BCurrentSource.mo
Labels: Bug, DynaSwing

#2179 #2178 Removal of unused Dynawo block
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/Hysteresis.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/package.order
Labels: Models library

#2188 #2186 Fix nrt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_BlackBoxModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroConnects/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_MacroStaticRefs/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN___12_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____1_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____2_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____3_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____6_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____8_SM.txt
  nrt/data/IEEE57/IEEE57_BasicTestCases/IEEE57_1_StepLoad/reference/outputs/initValues/globalInit/dumpInitValues-GEN____9_SM.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-SM.txt
Labels: Bug
