Repository dynawo/dynawo, pull requests merged in 2022-11, with the labels that each got.

#2557 #2556 Adding package.order to every CMakeLists.txt
  documentation/resources/exampleLibrary/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/ReactivePowerControlLoops/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/CMakeLists.txt
Labels: Code quality

#2568 #2566 Improve DynaFlow SVC
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/SecondaryVoltageControl.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/SecondaryVoltageControl_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPVTfo.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPVTfoDiagramPQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPVTfoDiagramPQ_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/SignalN/GeneratorPVTfo_INIT.mo
  dynawo/sources/Models/Modelica/PreassembledModels/SecondaryVoltageControlSimp.xml
  nrt/data/DynaFlow/GeneratorPVTfo/GeneratorPVTfo.par
Labels: DynaFlow

#2579 #2578 Fix dynawo.cmd
  util/windows/dynawo.cmd
Labels: Bug

#2580 2578 fix dynawo cmd v13
  util/windows/dynawo.cmd
Labels: Bug

#2603 #2602 Fix powsybl-iidm4cpp xml export on Windows.
  dynawo/3rdParty/libiidm/patch/common/libiidm.patch
Labels: Bug, 3rd party

#2584 #2583 French sentences translated into English, French-style spelling…
  .github/pull_request_template.md
  README.md
  documentation/advancedDoc/advancedDoc.tex
  documentation/configuringDynawo/DynawoInputFiles.tex
  documentation/functionalDoc/functionalDoc.tex
  documentation/resources/exampleLibrary/FrequencyLoad.mo
  dynawo/3rdParty/libxml/sax/formatter/src/FormatterImpl.cpp
  dynawo/3rdParty/libxml/sax/formatter/tests/AttributeList.test.cpp
  dynawo/sources/API/CRV/CRVCurve.h
  dynawo/sources/API/PAR/PARXmlHandler.h
  dynawo/sources/Common/DYNFileSystemUtils.h
  dynawo/sources/Common/DYNMacrosMessage.h
  dynawo/sources/Common/DYNSparseMatrix.h
  dynawo/sources/Common/DYNTimer.cpp
  dynawo/sources/Common/Dictionaries/DYNError_en_GB.dic
  dynawo/sources/Common/Dictionaries/DYNLog_en_GB.dic
  dynawo/sources/Modeler/Common/DYNConnector.cpp
  dynawo/sources/Modeler/Common/DYNModel.h
  dynawo/sources/Modeler/Common/DYNModelConstants.h
  dynawo/sources/Modeler/Common/DYNSubModel.h
  dynawo/sources/Modeler/DataInterface/DYNThreeWTransformerInterface.h
  dynawo/sources/Modeler/ModelManager/DYNModelModelica.h
  dynawo/sources/Modeler/ModelManager/ModelicaExternalC/snprintf.c
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/dataContainer.py
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/factory.py
  dynawo/sources/ModelicaCompiler/test/ModelicaModel/GeneratorPQ_INIT_init.xml
  dynawo/sources/ModelicaCompiler/test/ModelicaModel/GeneratorPQ_init.xml
  dynawo/sources/Models/CPP/ModelFrequency/ModelOmegaRef/test/TestOmegaRef.cpp
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Simplified/VRProportional.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/BaseControls/CurrentLimitsCalculationWind.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/BaseControls/IqInjectionLogic.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/ElectricalControlWind.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Loads/LoadAlphaBeta.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/GeneratorFictitious.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/BaseClasses.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVVoltageSource_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Shunts/ShuntBWithSections.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/InjectorIDQ.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/SystemBase.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4BCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/UsersGuide/NamingConventions.mo
  dynawo/sources/Simulation/DYNSimulation.h
  dynawo/sources/Solvers/AlgebraicSolvers/DYNSolverKINAlgRestoration.h
  dynawo/sources/Solvers/AlgebraicSolvers/DYNSolverKINCommon.cpp
  dynawo/sources/Solvers/Common/DYNSolver.h
  dynawo/sources/Solvers/FixedTimeStep/DYNSolverCommonFixedTimeStep.h
  dynawo/sources/Solvers/VariableTimeStep/SolverIDA/DYNSolverIDA.h
  examples/DynaFlow/description/DynaFlowExamples.tex
  examples/DynaSwing/description/DynaSwingExamples.tex
  examples/DynaWaltz/description/DynaWaltzExamples.tex
  nrt/data/IEEE14/IEEE14_BasicTestCases/description/IEEE14.tex
  nrt/data/IEEE57/IEEE57_BasicTestCases/description/IEEE57.tex
  nrt/data/SMIB/SMIB_BasicTestCases/description/SMIB.tex
  nrt/data/SVarC/description/SVarC.tex
  util/envDynawo.sh
  util/nrt_diff/nrtDiff.py
  util/nrt_diff/test/dynawo.log
  util/nrt_diff/test/dynawo2.log
Labels: Ease of Use

#2604 2602 fix libiidm windows v13
  dynawo/3rdParty/libiidm/patch/common/libiidm.patch
Labels: Bug, 3rd party
