Repository dynawo/dynawo, pull requests merged in 2023-04, with the labels that each got.

#2844 #2829 support of Modelica.Blocks.MathBoolean.Or
  dynawo/sources/Modeler/ModelManager/DYNModelManagerOwnFunctions.cpp
  dynawo/sources/Modeler/ModelManager/DYNModelManagerOwnFunctions.h
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/utils.py
Labels: Models compilation

#2858 #2857 fix missing IIDM imported libs in Windows distribution
  dynawo/3rdParty/libiidm/libiidm.cmake
Labels: Bug, 3rd party, DevOps

#2883 #420 Nordic Test System in Dynawo
  examples/DynaWaltz/Nordic/Events.dyd
  examples/DynaWaltz/Nordic/Events.par
  examples/DynaWaltz/Nordic/Network.par
  examples/DynaWaltz/Nordic/Nordic.crv
  examples/DynaWaltz/Nordic/Nordic.dyd
  examples/DynaWaltz/Nordic/Nordic.jobs
  examples/DynaWaltz/Nordic/Nordic.par
  examples/DynaWaltz/Nordic/Nordic.xiidm
  examples/DynaWaltz/Nordic/Solver.par
  examples/DynaWaltz/Nordic/reference/outputs/curves/curves.csv
  examples/DynaWaltz/Nordic/reference/outputs/finalState/outputIIDM.xml
  examples/DynaWaltz/Nordic/reference/outputs/logs/dynawaltz.log
  examples/DynaWaltz/Nordic/reference/outputs/timeLine/timeline.xml
  examples/DynaWaltz/NordicTCB/NordicTCB.jobs
  examples/DynaWaltz/NordicTCB/TCB.dyd
  examples/DynaWaltz/NordicTCB/TCB.par
  examples/DynaWaltz/NordicTCB/reference/outputs/curves/curves.csv
  examples/DynaWaltz/NordicTCB/reference/outputs/finalState/outputIIDM.xml
  examples/DynaWaltz/NordicTCB/reference/outputs/logs/dynawaltz.log
  examples/DynaWaltz/NordicTCB/reference/outputs/timeLine/timeline.xml
  examples/DynaWaltz/description/DynaWaltzExamples.tex
  examples/DynaWaltz/description/Nordic.png
  nrt/data/DynaWaltz/cases.py
Labels: Enhancement, DynaWaltz, Examples

#2877 #2876 Fix p0ACEmulation in DYNHvdcLineInterfaceIIDM
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNHvdcLineInterfaceIIDM.cpp
Labels: Bug

#2878 #2876 Fix p0ACEmulation in DYNHvdcLineInterfaceIIDM v1.5
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNHvdcLineInterfaceIIDM.cpp
Labels: Bug

#2889 #2887 Make K an optional extvar in ACEmulationVariableK
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/BaseControls/ACEmulationVariableK.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/BaseControls/ACEmulationVariableK.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/HVDC/BaseControls/ACEmulationVariableK_INIT.mo
Labels: Models library
