Repository dynawo/dynawo, pull requests merged in 2023-02, with the labels that each got.

#2766 #2389 Improve IntegratorVariableLimits
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/IntegratorVariableLimits.mo
Labels: Models library

#2772 #2745 Reverted FOCB values
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/BaseControls/GridProtection.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/IEC/BaseConverters/GenSystem4.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/IEC/WT4Injector.mo
Labels: Models library

#2779 #2774 CalculBG named CalculationBG, corrections about blank spaces an…
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/CalculationBG.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/Parameters.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/SVarCStandard.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SVarC/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Examples/SVarC/SVarCStepURef.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SVarC/package.order
  nrt/data/SVarC/SVarC_1_StepURef/SVarC.crv
  nrt/data/SVarC/SVarC_1_StepURef/SVarC.dyd
  nrt/data/SVarC/SVarC_1_StepURef/SVarC.jobs
  nrt/data/SVarC/SVarC_1_StepURef/SVarC.par
  nrt/data/SVarC/SVarC_1_StepURef/reference/outputs/curves/curves.csv
  nrt/data/SVarC/SVarC_1_StepURef/solvers.par
  nrt/data/SVarC/SVarC_2_LoadVarQ/SVarC.par
  nrt/data/SVarC/SVarC_3_LoadVarQLarge/SVarC.par
  nrt/data/SVarC/SVarC_4_ModeChange/SVarC.par
  nrt/data/SVarC/SVarC_5_FaultImp/SVarC.par
  nrt/data/SVarC/cases.py
  nrt/data/SVarC/description/SVarC.tex
Labels: Code quality

#2780 #2758 better handle of embedded if a - (if ... b else c) = 0
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/factory.py
  dynawo/sources/ModelicaCompiler/Scripts_OMC_1_13_2/utils.py
Labels: Bug, Models compilation

#2794 #2717 g20 moved on diagram
  dynawo/sources/Models/Modelica/Dynawo/Examples/Nordic/Grid/FullDynamicModel.mo
Labels: Examples
