Repository dynawo/dynawo, pull requests merged in 2023-06, with the labels that each got.

#2938 #2937 Use job dependancy for nightly-release-windows
  .github/workflows/nightly-release-windows.yml
  .github/workflows/nightly-release.yml
Labels: DevOps

#2940 #2923 WECC URefPu as an input
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/PlantControl.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVCurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVVoltageSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Photovoltaics/WECC/PVVoltageSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4ACurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4BCurrentSource.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Wind/WECC/WTG4BCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Photovoltaics/WECC/PVCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Photovoltaics/WECC/PVVoltageSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WT4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WT4BCurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WTG4ACurrentSource.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/WECC/WTG4BCurrentSource.mo
  examples/DynaSwing/GridForming_GridFollowing/DisconnectLine/reference/outputs/logs/dynaswing.log
  examples/DynaSwing/GridForming_GridFollowing/Fault/reference/outputs/logs/dynaswing.log
  examples/DynaSwing/GridForming_GridFollowing/Steps/reference/outputs/logs/dynaswing.log
Labels: Models library, DynaSwing

#2942 #2918 Optional variables, constant omegaRef for TestCase2
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/HYGOV.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/IEEEG1.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/PssIEEE2B.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/ExcIEEEAC1A.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/IEEET1.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/MAXEX2.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/SCRX.extvar
  nrt/data/SMIB/Standard/TestCase2ST4B/TestCase2ST4B.dyd
  nrt/data/SMIB/Standard/TestCase2ST4B/TestCase2ST4B.par
Labels: Bug, Enhancement

#2944 #2941 OM examples : tables hardcoded
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/CoordinatedVControl.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1ExcIEEEST4BPssIEEE2B1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1ExcIEEEST4BPssIEEE2B2.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1ExcIEEEST4BPssIEEE2B3.mo
Labels: Examples

#2946 #2886 3E/4E -> 3W/4W
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/BaseClasses_INIT/BaseGeneratorSynchronousExt3W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/BaseClasses_INIT/BaseGeneratorSynchronousExt4W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/BaseClasses_INIT/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/BaseClasses_INIT/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/GeneratorSynchronousExt3W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/GeneratorSynchronousExt4W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/GeneratorSynchronousExtTfo3W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/GeneratorSynchronousExtTfo4W_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Machines/OmegaRef/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/BaseClasses/InitializedGeneratorSynchronousFourWindings.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/BaseClasses/InitializedGeneratorSynchronousThreeWindings.mo
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindings.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsGovSteam1ExcIEEEST4B.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsGovSteam1ExcIEEEST4BPssIEEE2B.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsGoverPropVRPropInt.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsPmConstVRNordic.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsPmConstVRNordicTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsProportionalRegulations.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsTGov1Sexs.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsTGov1SexsPss2A.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsVRKundur.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsVRKundurPssKundur.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindings.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsGoverNordicVRNordic.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsGoverNordicVRNordicTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsGoverPropVRPropInt.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsHyGovScrx.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsHyGovScrxTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsIeeeG1IeeeT1.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsIeeeG1IeeeT1Tfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsIeeeG1Scrx.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsIeeeG1ScrxTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstExcIeeeAc1a.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstExcIeeeAc1aTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstScrx.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstScrxTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstVRNordic.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsPmConstVRNordicTfo.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsProportionalRegulations.xml
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ModelicaModel/IEEE14.dyd
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ReferenceToParameterFromAnotherModel/Generators.dyd
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_ReferenceToParameterFromAnotherModel/IEEE14.dyd
  nrt/data/IEEE14/IEEE14_SyntaxExamples/IEEE14_TemplateModels/Generators.dyd
Labels: Models library, Code quality

#2928 #2927 Add staticRefs for Bus, Line, TransformerFixedRatio and Infinit…
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNFictTwoWTransformerInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/DYNTwoWTransformerInterfaceIIDM.cpp
  dynawo/sources/Modeler/DataInterface/PowSyblIIDM/test/TestDataInterface.cpp
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelNetwork.cpp
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelTapChanger.h
  dynawo/sources/Models/CPP/ModelNetwork/DYNModelTwoWindingsTransformer.cpp
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Buses/Bus.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Buses/InfiniteBus.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Lines/Line.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerFixedRatio.mo
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-OmegaRef.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-OmegaRef_setPoint_setPoint_value.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-SM.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-busInf.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-busInf_infiniteBus_terminal_V_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-busInf_infiniteBus_terminal_V_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-line1.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-line2.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-tfo.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/SMIB.dyd
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/SMIB.jobs
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/finalState/outputIIDM.xml
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-OmegaRef.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-OmegaRef_setPoint_setPoint_value.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus1.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus1_bus_terminal_i_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus1_bus_terminal_i_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus2.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus2_bus_terminal_i_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-bus2_bus_terminal_i_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-busInf.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-busInf_infiniteBus_terminal_V_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-busInf_infiniteBus_terminal_V_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-line1.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-line2.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-sm.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-tfo.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-OmegaRef.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-OmegaRef_setPoint_setPoint_value.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus1.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus1_bus_terminal_i_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus1_bus_terminal_i_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus2.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus2_bus_terminal_i_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-bus2_bus_terminal_i_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-busInf.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-busInf_infiniteBus_terminal_V_im.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-busInf_infiniteBus_terminal_V_re.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-line1.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-line2.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-sm.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-tfo.txt
Labels: Models library

#2950 #2949 fix nrt in nightly windows
  .github/workflows/nightly-release.yml
Labels: DevOps

#2948 #2947 add Step dependency to SMIB_MODELS
  .github/workflows/ci.yml
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeListsModelsTargets.txt
Labels: Bug, Models compilation

#2952 #2951 enhance nightly release
  .github/workflows/nightly-release.yml
  .github/workflows/tools.sh
Labels: Code quality, DevOps

#2959 #2958 run NRT on demand in CI
  .github/workflows/ci.yml
Labels: Ease of Use, DevOps
