Repository dynawo/dynawo, pull requests merged in 2024-03, with the labels that each got.

#3149 #3091 Pss1a, Pss2a and other necessary models
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/BasePss1a.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/PSS2A1.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/PSS2A1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss1aOmega.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss1aOmega.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss1aPGen.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss1aPGen.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss2a.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss2a.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss2c.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss2c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase3.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/LeadMOrderLag.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/RampTrackingFilter.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/SecondOrder.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/Washout.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/package.order
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsTGov1SexsPss2A.xml
  nrt/data/SMIB/Standard/TestCase1ST4B/reference/outputsTestCase1ST4B/curves/curves.csv
  nrt/data/SMIB/Standard/TestCase3ST4B/reference/outputsTestCase3ST4B/curves/curves.csv
  util/updateXML/update1.6.0.1.py
Labels: Models library, DynaSwing

#3154 #3153 LostEquipmentsCollection::lostEquipments_ vector is turned to a set
  dynawo/sources/API/LEQ/LEQLostEquipmentsCollection.cpp
  dynawo/sources/API/LEQ/LEQLostEquipmentsCollection.h
Labels: Bug

#3161 #3160 Update annotation version to 1.6.0
  dynawo/sources/Models/Modelica/Dynawo/package.mo
Labels: Documentation

#3150 #3091 HyGov, TGov, IEEEX2
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/HYGOV1.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/HYGOV1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/HyGov.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/HyGov.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGOV11.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGOV11.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGov1.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGov1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGov3.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGov3.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/TGov3_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseIEEEX.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/IEEEX2.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/IEEEX2.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase2.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase3.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/RVS/Components/GeneratorWithControl/HydroFrame.mo
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsTGov1Sexs.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsTGov1SexsPss2A.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsHyGovScrx.xml
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousThreeWindingsHyGovScrxTfo.xml
  util/updateXML/update1.6.0.1.py
Labels: Models library, DynaSwing

#3050 #3042 Added timelines in SecondaryVoltageControl and a new nrt
  dynawo/sources/Common/Dictionaries/DYNTimeline_en_GB.dic
  dynawo/sources/Modeler/ModelManager/DYNModelManagerCommon.cpp
  dynawo/sources/Modeler/ModelManager/DYNModelManagerCommon.h
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/SecondaryVoltageControl.mo
  nrt/data/DynaFlow/GeneratorPVTfo/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfo/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/Diagram.txt
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.crv
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.dyd
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.jobs
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.par
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/logs/dynawo.log
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/cases.py
Labels: Enhancement, Models library

#3170 #3158 Keys.mo saved as any other .mo file
  .gitignore
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/ConstraintKeys.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/ErrorKeys.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/LogKeys.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/TimelineKeys.mo
Labels: Models library, Ease of Use

#3173 #3042 Revert dev of SVR
  dynawo/sources/Common/Dictionaries/DYNTimeline_en_GB.dic
  dynawo/sources/Modeler/ModelManager/DYNModelManagerCommon.cpp
  dynawo/sources/Modeler/ModelManager/DYNModelManagerCommon.h
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/SecondaryVoltageControl.mo
  nrt/data/DynaFlow/GeneratorPVTfo/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/Diagram.txt
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.crv
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.dyd
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.jobs
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.par
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/logs/dynawo.log
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/cases.py
Labels: DynaFlow

#3176 #3091 LimitedPI with Hysteresis instead of thresholds to prevent chat…
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/LimitedPI.mo
Labels: Models library
