Repository dynawo/dynawo, pull requests merged in 2024-10, with the labels that each got.

#3332 #3331 Add OverVoltageAutomaton model
  dynawo/sources/Common/Dictionaries/DYNTimeline_en_GB.dic
  dynawo/sources/Common/Dictionaries/DYNTimeline_oppositeEvents.dic
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Protections/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Protections/OVA.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Protections/OVA.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Protections/package.order
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/TimelineKeys.mo
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeLists.txt
  dynawo/sources/Models/Modelica/PreassembledModels/NrtModels.txt
  dynawo/sources/Models/Modelica/PreassembledModels/OverVoltageAutomaton.xml
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/IEEE14.crv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/IEEE14.dyd
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/IEEE14.iidm
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/IEEE14.jobs
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/IEEE14.par
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/reference/outputs/curves/curves.csv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/reference/outputs/timeLine/timeline.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_OverVoltageAutomaton/solvers.par
  nrt/data/IEEE14/IEEE14_WithAutomata/description/IEEE14_WithAutomata.tex
  nrt/data/IEEE14/cases.py
Labels: Models library

#3421 #3418 add relative tolerance in diff sripts for nrt
  util/nrt_diff/constraintsDiff.py
  util/nrt_diff/diffUtils.py
  util/nrt_diff/finalStateValuesDiff.py
  util/nrt_diff/iidmDiff.py
Labels: Enhancement, Accuracy

#3435 #3373 Fix failing nrt
  examples/DynaSwing/IEC/Wind/Neplan/WPP4BCurrentSource2015Q/WPP4BCurrentSource2015.par
  examples/DynaSwing/IEC/Wind/Neplan/WPP4BCurrentSource2015Q/reference/outputs/curves/curves.csv
Labels: Bug

#3381 #3379 Fix centos7 nightly.
  .github/workflows/nightly-2.yml
Labels: DevOps

#3366 #3112 [COLIB-NGC] add govSteamEU
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/GovSteamEu.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/GovSteamEu.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Resources/Images/GovSteamEu_OmegaPu.jpg
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Resources/Images/GovSteamEu_PGenPu.jpg
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Resources/Images/GovSteamEu_PmPu.jpg
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Resources/Images/GovSteamEu_UPu.jpg
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteamEuSt4b.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/reference/GovSteamEuSt4b_res.csv
  dynawo/sources/Models/Modelica/Dynawo/Examples/package.order
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeLists.txt
  dynawo/sources/Models/Modelica/PreassembledModels/GeneratorSynchronousFourWindingsGovSteamEuSt4b.xml
  dynawo/sources/Models/Modelica/PreassembledModels/NrtModels.txt
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/TestCaseGovSteamEuSt4b.crv
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/TestCaseGovSteamEuSt4b.dyd
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/TestCaseGovSteamEuSt4b.jobs
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/TestCaseGovSteamEuSt4b.par
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/reference/outputs/curves/curves.csv
  nrt/data/SMIB/cases.py
Labels: Models library

#3445 #3416 LogKeys.mo updated (one key removed)
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/LogKeys.mo
Labels: Models compilation
