Repository dynawo/dynawo, pull requests merged in 2024-05, with the labels that each got.

#3220 #3219 Add DynaWaltz target.
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeListsModelsTargets.txt
  dynawo/sources/Models/Modelica/PreassembledModels/DynaWaltzModels.txt
  util/envDynawo.sh
Labels: Models compilation, Ease of Use, DynaWaltz

#3212 #3018 : correct initialization
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/BaseControls/ElectricalControlCommon.mo
Labels: Bug, Models library

#3223 #3194 Fix nrt and remove useless files.
  nrt/data/Network/Load/Modelica/Limits2/DisconnectLoad_VoltageVariation.jobs
  nrt/data/Network/Load/Modelica/Limits2/reference/outputsVoltageVariation/logs/dynawoEquations.log
  nrt/data/Network/Load/Modelica/Limits2/reference/outputsVoltageVariation/logs/dynawoVariables.log
  nrt/data/Network/Load/Modelica/Limits3-1/reference/outputsVoltageVariation/logs/dynawoCompiler.log
  nrt/data/Network/Load/Modelica/Limits3-1/reference/outputsVoltageVariation/logs/dynawoModeler.log
  nrt/data/Network/Load/Modelica/Limits3-1/reference/outputsVoltageVariation/logs/dynawoNetwork.log
  nrt/data/Network/Load/Modelica/Limits3-1/reference/outputsVoltageVariation/logs/dynawoParameters.log
  nrt/data/Network/Load/Modelica/Limits3-1/reference/outputsVoltageVariation/logs/dynawoVariables.log
  nrt/data/Network/Load/Modelica/Limits3-2/reference/outputsVoltageVariation/logs/dynawoCompiler.log
  nrt/data/Network/Load/Modelica/Limits3-2/reference/outputsVoltageVariation/logs/dynawoModeler.log
  nrt/data/Network/Load/Modelica/Limits3-2/reference/outputsVoltageVariation/logs/dynawoNetwork.log
  nrt/data/Network/Load/Modelica/Limits3-2/reference/outputsVoltageVariation/logs/dynawoParameters.log
  nrt/data/Network/Load/Modelica/Limits3-2/reference/outputsVoltageVariation/logs/dynawoVariables.log
  nrt/data/Network/Load/Modelica/Limits4/reference/outputsVoltageVariation/logs/dynawoCompiler.log
  nrt/data/Network/Load/Modelica/Limits4/reference/outputsVoltageVariation/logs/dynawoModeler.log
  nrt/data/Network/Load/Modelica/Limits4/reference/outputsVoltageVariation/logs/dynawoNetwork.log
  nrt/data/Network/Load/Modelica/Limits4/reference/outputsVoltageVariation/logs/dynawoParameters.log
  nrt/data/Network/Load/Modelica/Limits4/reference/outputsVoltageVariation/logs/dynawoVariables.log
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm/reference/outputs/initValues/globalInit/dumpInitValues-tfo.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/globalInit/dumpInitValues-tfo.txt
  nrt/data/SMIB/SMIB_BasicTestCases/SMIB_1_StepPm_IIDM/reference/outputs/initValues/localInit/dumpInitValues-tfo.txt
Labels: Bug

#3221 #3059 Small fixes for code quality 2.
  dynawo/sources/Common/DYNSparseMatrix.cpp
  dynawo/sources/Modeler/Common/DYNModelUtil.cpp
  dynawo/sources/Modeler/Common/DYNModelUtil.h
Labels: Code quality

#3226 #3222 Add new targets to build only models necessary for nrt run.
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeListsModelsTargets.txt
  dynawo/sources/Models/Modelica/PreassembledModels/NrtExtendModels.txt
  dynawo/sources/Models/Modelica/PreassembledModels/NrtModels.txt
  util/envDynawo.sh
Labels: Enhancement, Models compilation, Ease of Use

#3231 #3059 Fix doxygen.
  dynawo/sources/Modeler/Common/DYNModelUtil.h
Labels: Documentation

#3232 #3194 Remove nrt logs.
  nrt/data/Network/Transformer/Modelica/Ratio/reference/outputsIDA/logs/dynawo.log
  nrt/data/Network/Transformer/Modelica/Ratio/reference/outputsSIM/logs/dynawo.log
  nrt/data/Network/Transformer/Modelica/Variation/reference/outputsIDA/logs/dynawo.log
  nrt/data/Network/Transformer/Modelica/Variation/reference/outputsSIM/logs/dynawo.log
Labels: Models library

#3215 #3214 Correction of the integrator lower limit in the WECC models' PLL
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/PLL/PLL.mo
  examples/DynaSwing/WECC/PV/WECCPVCurrentSource/reference/outputs/curves/curves.csv
  examples/DynaSwing/WECC/PV/WECCPVVoltageSource/reference/outputs/curves/curves.csv
  examples/DynaSwing/WECC/Wind/WECCWTG4ACurrentSource/reference/outputs/curves/curves.csv
  examples/DynaSwing/WECC/Wind/WECCWTG4BCurrentSource/reference/outputs/curves/curves.csv
  nrt/data/HVDC/reference/outputs/curves/curves.csv
  nrt/data/WECCAdditionalModels/Wind/WT4ACurrentSource/reference/outputs/curves/curves.csv
  nrt/data/WECCAdditionalModels/Wind/WT4BCurrentSource/reference/outputs/curves/curves.csv
Labels: Models library

#3241 #3240 Fix doxygen deploy.
  .github/workflows/ci.yml
Labels: Bug, Documentation

#3243 #3240 Fix doxygen deploy 2.
  .github/workflows/ci.yml
Labels: Bug, Documentation

#2197 #2190 Add order 1 prediction in SIM solver.
  documentation/functionalDoc/functionalDoc.tex
  dynawo/cmake/TestCoverage.cmake
  dynawo/sources/Solvers/AlgebraicSolvers/DYNSolverKINAlgRestoration.cpp
  dynawo/sources/Solvers/AlgebraicSolvers/DYNSolverKINEuler.cpp
  dynawo/sources/Solvers/FixedTimeStep/DYNSolverCommonFixedTimeStep.cpp
  dynawo/sources/Solvers/FixedTimeStep/DYNSolverCommonFixedTimeStep.h
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/DYNSolverSIM.cpp
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/DYNSolverSIM.h
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/test/CMakeLists.txt
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/test/TestBasics.cpp
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/test/jobs/DYNSolverTest.mo
  dynawo/sources/Solvers/FixedTimeStep/SolverSIM/test/jobs/solverTestPrediction.dyd
  dynawo/sources/Solvers/FixedTimeStep/SolverTRAP/DYNSolverTRAP.cpp
  dynawo/sources/Solvers/FixedTimeStep/SolverTRAP/DYNSolverTRAP.h
  dynawo/sources/Solvers/FixedTimeStep/SolverTRAP/test/CMakeLists.txt
  dynawo/sources/Solvers/util/test/res/dumpSolver.desc.xml
  nrt/data/SIMOrder1Prediction/Test.crv
  nrt/data/SIMOrder1Prediction/Test.dyd
  nrt/data/SIMOrder1Prediction/Test.jobs
  nrt/data/SIMOrder1Prediction/Test.mo
  nrt/data/SIMOrder1Prediction/Test.par
  nrt/data/SIMOrder1Prediction/cases.py
  nrt/data/SIMOrder1Prediction/solvers.par
  util/warnings_to_filter.txt
Labels: Enhancement, Solvers

#3245 #3240 Fix doxygen deploy 3.
  .github/workflows/ci.yml
Labels: Bug, Documentation

#3252 #3251 Add LoadAlphaBetaRestorativeNetwork to package order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Loads/package.order
Labels: Bug, Models library

#3218 #3191 Phase and Ratio Tap Changer transfortmer OM Models introduction…
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/BaseClasses/BaseTransformer.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/BaseClasses/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/BaseClasses/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerFixedRatioAndPhase.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerFixedRatioAndPhase.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerPhaseTapChanger.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerPhaseTapChanger.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerRatioTapChanger.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/TransformerRatioTapChanger.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Transformers/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/PhaseShifterTransformer.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/Resources/PhaseShifterPPuLine01.png
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/DynaFlow/IllustrativeExamples/reference/PhaseShifterTransformer_res.csv
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeLists.txt
  dynawo/sources/Models/Modelica/PreassembledModels/NrtModels.txt
  dynawo/sources/Models/Modelica/PreassembledModels/TransformerFixedRatioAndPhase.xml
  dynawo/sources/Models/Modelica/PreassembledModels/TransformerPhaseTapChanger.xml
  dynawo/sources/Models/Modelica/PreassembledModels/TransformerRatioTapChanger.xml
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/IEEE14.crv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/IEEE14.dyd
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/IEEE14.iidm
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/IEEE14.jobs
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/IEEE14.par
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/reference/outputs/curves/curves.csv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/reference/outputs/timeLine/timeline.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_PhaseShifterP_Modelica/solvers.par
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/IEEE14.crv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/IEEE14.dyd
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/IEEE14.iidm
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/IEEE14.jobs
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/IEEE14.par
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/reference/outputs/curves/curves.csv
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/reference/outputs/logs/dynawo.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/reference/outputs/timeLine/timeline.log
  nrt/data/IEEE14/IEEE14_WithAutomata/IEEE14_TapChanger_Modelica/solvers.par
  nrt/data/IEEE14/cases.py
Labels: Models library
