Repository dynawo/dynawo, pull requests merged in 2025-04, with the labels that each got.

#3609 3546 improve svc part2
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/ReactivePowerControlLoops/ReactivePowerControlLoop.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/ReactivePowerControlLoops/ReactivePowerControlLoop2.mo
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/logs/dynawo.log
Labels: Models library, DynaFlow

#3640 #3639 St1a : initialization accounting for Ir0Pu
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt1.mo
Labels: Initialization, DynaSwing

#3637 #3636 Default values removed from regulation .mo, added to .par and examples .mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/BasePss2.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/BaseClasses/BasePss3.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/Standard/Pss6c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/Ac1c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/Ac6c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/Ac7c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/Ac8c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseAc1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseAc6.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseAc7.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseDc1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt4.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt5.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt6.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseSt7.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/Dc1c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/St1c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/St4c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/St5c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/St6c.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/St9c.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase3.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovCt2St4b.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovHydro4St4b.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1St4b2.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1St4bPss2b1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteam1St4bPss2b3.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/SMIB/Standard/GovSteamEuSt4b.mo
  examples/DynaSwing/ENTSOE/TestCase1/TestCase1.par
  examples/DynaSwing/ENTSOE/TestCase3/TestCase3.par
  nrt/data/DynaSwing/EntsoeTestCase3PlayBack/TestCase3.par
  nrt/data/SMIB/IEEE/PmConstAc6aPss3b/SMIB.par
  nrt/data/SMIB/IEEE/PmConstAc7bPss3b/SMIB.par
  nrt/data/SMIB/IEEE/PmConstAc7cPss2c/SMIB.par
  nrt/data/SMIB/IEEE/PmConstAc8bPss3b/SMIB.par
  nrt/data/SMIB/IEEE/PmConstSt5bPss2b/SMIB.par
  nrt/data/SMIB/IEEE/PmConstSt6bPss3b/SMIB.par
  nrt/data/SMIB/IEEE/PmConstSt6cPss6c/SMIB.par
  nrt/data/SMIB/IEEE/PmConstSt7bPss2a/SMIB.par
  nrt/data/SMIB/IEEE/PmConstSt9cPss2c/SMIB.par
  nrt/data/SMIB/Standard/TestCase1ST4B/TestCase1ST4B.par
  nrt/data/SMIB/Standard/TestCase2ST4B/TestCase2ST4B.par
  nrt/data/SMIB/Standard/TestCase3ST4B/TestCase3ST4B.par
  nrt/data/SMIB/Standard/TestCaseGovCt2St4b/TestCaseGovCt2St4b.par
  nrt/data/SMIB/Standard/TestCaseGovHydro4St4b/TestCaseGovHydro4St4b.par
  nrt/data/SMIB/Standard/TestCaseGovSteamEuSt4b/TestCaseGovSteamEuSt4b.par
  util/updateXML/update1.8.0.1.py
Labels: Models library

#3644 #3643 EfdMaxPu added to IEEEX2 and IEEX2A
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/BaseClasses/BaseIEEEX.mo
Labels: Models library
