Repository dynawo/dynawo, pull requests merged in 2025-01, with the labels that each got.

#3503 #3499 Add variable impedant fault to library
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Events/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Events/VariableImpedantFault.extvar
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Events/VariableImpedantFault.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Events/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/IEC/Neplan/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/IEC/Neplan/WPP4ACurrentSource2020UDip.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/IEC/Neplan/package.order
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/IEC/Neplan/reference/WPP4ACurrentSource2020UDip_res.csv
  dynawo/sources/Models/Modelica/PreassembledModels/CMakeLists.txt
  dynawo/sources/Models/Modelica/PreassembledModels/NrtModels.txt
  dynawo/sources/Models/Modelica/PreassembledModels/VariableImpedantFault.xml
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/TableVariableImpedance.txt
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/WPP4ACurrentSource2020.crv
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/WPP4ACurrentSource2020.dyd
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/WPP4ACurrentSource2020.jobs
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/WPP4ACurrentSource2020.par
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2020UDip/reference/outputs/curves/curves.csv
  nrt/data/DynaSwing/cases.py
Labels: Models library

#3522 #3488 Restoration of solver parameters, with a smaller minimalAccepta…
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2015Q/WPP4ACurrentSource2015.par
  examples/DynaSwing/IEC/Wind/Neplan/WPP4ACurrentSource2015Q/reference/outputs/curves/curves.csv
Labels: Examples

#3525 #2708 useless modifiers removed
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Converters/BaseControls/DroopControl.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Converters/BaseControls/VoltageLoop.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Frequency/SystemFrequencyResponse/ReducedOrderSFR.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/Auxiliaries/Measurements.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/Auxiliaries/UfMeasurement.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/WPP/WPPPControl2015.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/WPP/WPPQControl2015.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/WT/QControl2015.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/IEC/IEC61400/BaseControls/WT/QControl2020.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Generic/GovCt2.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Hydraulic/GovHydro4.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/Governors/Standard/Steam/GovSteamEu.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/ReactivePowerControlLoops/ReactivePowerControlLoop.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/ExAc1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/IEEET1.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/VoltageRegulators/Standard/VRKundur.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/PLL/PLL.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/BaseControls/VSourceRef.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/Mechanical/BaseClasses/BaseDriveTrain.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/Mechanical/DriveTrainPeFiltered.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/REEC/BaseClasses/BaseREEC.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/REEC/REECb.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/REEC/REECc.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/WECC/REGC/REGCbCS.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Sources/InertialGrid/InertialGrid.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/Limitations.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/StaticVarCompensators/BaseControls/Regulation.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/BESS/WECC/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/BESS/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase1.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase2.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/ENTSOE/TestCase3.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/IEEE118/BaseClasses/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/IEEE118/TestCases/IEEE118NoEvent.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/IEEE14/BaseClasses/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Examples/Wind/IEC/Neplan/package.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/LimPIDFreeze.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/PIFreeze.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/Continuous/VarLimPIDFreeze.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/LimitedFirstOrder.mo
Labels: Code quality

#3527 #3526 Windows workflows fix
  .github/workflows/ci.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Labels: Bug, DevOps

#3508 #3507 New LimitedDivision block
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/LimitedDivision.mo
  dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Blocks/NonLinear/package.order
Labels: Enhancement, Models library

#3541 #3540 Removal of an unused model : BasePss_INIT
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/BaseClasses_INIT/BasePss_INIT.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/BaseClasses_INIT/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/BaseClasses_INIT/package.mo
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/BaseClasses_INIT/package.order
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/CMakeLists.txt
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Machines/PowerSystemStabilizers/package.order
Labels: Models library

#3547 3546 part1 add dead band to secondary voltage control_v17
  dynawo/sources/Models/Modelica/Dynawo/Electrical/Controls/Voltage/SecondaryVoltageControl/Simplified/SecondaryVoltageControl.mo
  nrt/data/DynaFlow/GeneratorPVTfo/GeneratorPVTfo.par
  nrt/data/DynaFlow/GeneratorPVTfo/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfo/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/GeneratorPVTfoRpclTimeline.par
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/GeneratorPVTfoRpclTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/GeneratorPVTfoSVRTimeline.par
  nrt/data/DynaFlow/GeneratorPVTfoSVRTimeline/reference/outputs/timeLine/timeline.xml
  nrt/data/DynaFlow/HvdcRpcl2/HvdcRpcl2.par
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/curves/curves.csv
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/logs/dynawo.log
  nrt/data/DynaFlow/HvdcRpcl2/reference/outputs/timeLine/timeline.xml
  util/updateXML/update1.7.0.9.py
Labels: Enhancement, Models library, Performance, DynaFlow
